<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.wruzjan.ihg">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".IhgApplication"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="com.wruzjan.ihg.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wruzjan.ihg.ChooseWorkerActivity"
            android:label="@string/title_activity_choose_worker"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wruzjan.ihg.BrowseProtocolsActivity"
            android:label="@string/title_activity_browse_protocols"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wruzjan.ihg.BrowseAddressesActivity"
            android:label="@string/title_activity_browse_addresses"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.wruzjan.ihg.AddNewAddressActivity"
            android:label="@string/title_activity_add_new_address"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EnterDataActivity"
            android:label="@string/title_activity_enter_data"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wruzjan.ihg.ChooseWorkerNewPaderewskiegoActivity"
            android:label="@string/title_activity_choose_worker"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EnterDataNewPaderewskiegoActivity"
            android:label="@string/title_activity_enter_data"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CaptureSignatureActivity"
            android:label="@string/title_activity_capture_signature"
            android:screenOrientation="landscape" >
        </activity>
        <activity android:name=".MeasurementDetailsActivity" />
        <activity android:name=".MeasurementListActivity" />
        <activity android:name=".ChooseWorker2Activity"
            android:label="@string/title_activity_choose_worker"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".EnterData2Activity"
            android:label="@string/title_activity_enter_data"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".PrinterSettingActivity"
            android:label="Wybierz drukarkę"
            android:screenOrientation="portrait">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ihg.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>
    </application>
</manifest>
